@{
    Layout = "_Layout";
}

<main>
        <div class="Container" id="tableTitle">
            <br>
            <h1>| OUR TEAM |</h1>
            <br>
        </div>
    <div>
        <table id="contactTable" class="table table-hover">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Phone Number</th>
                    <th>Email Address</th>
                    <th>Image</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Project Manager</td>
                    <td>Ray</td>
                    <td>Gruetzmacher</td>
                    <td>7157919110</td>
                    <td>gruetzmacherr@ntc.edu </td>
                    <td><img src="/images/about/Raymond.jpg" class="headshot"></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Business Logic Tier</td>
                    <td>Michael</td>
                    <td>Schneider</td>
                    <td>7153239876</td>
                    <td>mjschneider1@students.ntc.edu </td>
                    <td><img src="/images/about/Michael.jpg" class="headshot"></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Presentation/User Interface Tier</td>
                    <td>Koua</td>
                    <td>Chang</td>
                    <td>7152552421</td>
                    <td>kchang6@students.ntc.edu </td>
                    <td><img src="/images/about/Koua.jpg" class="headshot"></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Data Tier</td>
                    <td>Dakota</td>
                    <td>Worzella</td>
                    <td>7153823871</td>
                    <td>dbworzella@students.ntc.edu</td>
                    <td><img src="/images/about/Dakota.jpg" class="headshot"></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    </main>