<link href="/../css/login.css" rel="stylesheet" type="text/css">

<form method="post" action="index.html">
<div class="box">
<div class="title">
    <p><img src="/images/Logo/Logo.png" class="img-responsive"></p>
</div>

<input type="email" name="email" value="email" onFocus="field_focus(this, 'email');" onblur="field_blur(this, 'email');" class="email" />
  
<input type="password" name="email" value="email" onFocus="field_focus(this, 'email');" onblur="field_blur(this, 'email');" class="email" />
  
<a href="#"><div class="btn">Sign In</div></a> 

<a href="#"><div id="btn2">Register</div></a>
  
</div> 
  
</form>

<p>Forgot your password? <u style="color:orange;">Click Here!</u></p>
 